In [3]:
import numpy as np
import pandas as pd
import polars as pl

# See readme for how I obtained the the below data
#catalog = pd.read_csv('../data/1680058493237O-result.csv', sep=',', header=0, dtype=np.float64)

# smaller sampe of the above data for testing purposes
catalog = pd.read_csv('../data/test.csv', sep=',', header=0, dtype=np.float64)

# arbitrary threashold 'k is for Kalle'
threshold_k = np.pi / 4

# helper functio
deg2rad = lambda rad: rad * np.pi / 180

# sort the catalog by magnitudes
stars = catalog.sort_values(by='b1mag')

stars

stars['dec']

0    -16.716001
1    -52.695661
2    -60.835273
3     19.182450
4     38.783690
        ...
53    71.612316
54    71.616219
55    66.635347
45    75.033424
82    73.264174
Name: dec, Length: 83, dtype: float64

In [2]:
# This bit of math is a common operation in astronomy and is used to convert the spherical coordinates (r, \theta, \phi) to cartesian coordinates (x, y, z)
# To be more specific, if (RA, Dec) represents the spherical coordinates of a celestial object, then we can convert them to Cartesian coordinates (x, y, z) 
# using the following formulas:
#   x = cos(dec) * cos(ra)
#   y = cos(dec) * sin(ra)
#   z = sin(dec)
#
rays = np.stack(
            (   np.cos(deg2rad(stars['dec'])) * np.cos(deg2rad(stars['ra'])), 
                np.cos(deg2rad(stars['dec'])) * np.sin(deg2rad(stars['ra'])), 
                np.sin(deg2rad(stars['dec']))
            ) 
        ).T
rays

# Conversely, if we have the Cartesian coordinates (x, y, z), we can convert them to spherical coordinates (r, θ, φ) using the following formulas:
#
# r = sqrt(x^2 + y^2 + z^2)
# θ = arccos(z/r)
# φ = atan2(y, x)

array([[-0.18745319,  0.93921852, -0.287628  ],
       [-0.06322262,  0.60274195, -0.79542759],
       [-0.37385775, -0.31259124, -0.87322225],
       [-0.78378669, -0.52698704,  0.32857736],
       [ 0.12509649, -0.76941311,  0.62638194],
       [ 0.19505172,  0.97036265, -0.14265749],
       [ 0.13050036,  0.68231601,  0.71931531],
       [ 0.02088846,  0.99143518,  0.12891845],
       [-0.41811213,  0.9038191 ,  0.09106749],
       [ 0.49272291,  0.22380426, -0.84091366],
       [-0.42393818, -0.2542838 , -0.86926185],
       [ 0.55971537, -0.82768132, -0.04077179],
       [ 0.34390209,  0.89497374,  0.28417136],
       [ 0.45922089, -0.87484256,  0.15416441],
       [-0.34481839, -0.82641108, -0.44513482],
       [-0.91408008, -0.3563536 , -0.19357096],
       [-0.39151333,  0.79116116,  0.46987374],
       [ 0.83733252, -0.23358762, -0.49427833],
       [ 0.45564906, -0.53618207,  0.71055804],
       [-0.44940405, -0.0523942 , -0.89179081],
       [-0.49379562, -0.10433183, -0.86329644],
       [-0.86450245,  0.45786501,  0.20735274],
       [-0.22135819,  0.8463884 , -0.48438335],
       [-0.53796802, -0.07361112, -0.83974508],
       [ 0.47423123,  0.1197968 ,  0.87221182],
       [-0.09163724, -0.79226287, -0.60325962],
       [ 0.12865837,  0.86844135,  0.47880752],
       [ 0.15062843,  0.98238459,  0.11059655],
       [-0.25882461,  0.23060521, -0.9379931 ],
       [ 0.10357891,  0.99440003, -0.02097594],
       [ 0.60293428, -0.31979958, -0.73088883],
       [-0.46222853,  0.02584599,  0.8863841 ],
       [ 0.40498007,  0.50155168,  0.76448483],
       [-0.36295579,  0.57230024, -0.73534722],
       [-0.25830295,  0.17334099,  0.95038544],
       [-0.23769658, -0.04503523,  0.97029489],
       [-0.42521868,  0.03381087,  0.9044589 ],
       [ 0.33311677, -0.20422706,  0.92050232],
       [ 0.27448524,  0.13645213,  0.95186063],
       [ 0.08538182, -0.37996315,  0.92105263],
       [ 0.0131769 , -0.23437729,  0.9720564 ],
       [ 0.29278015,  0.07893189,  0.95291633],
       [ 0.00174763, -0.38709482,  0.92203826],
       [-0.22069128, -0.35937725,  0.90672121],
       [-0.03244871,  0.41935012,  0.90724449],
       [-0.05163464, -0.41820879,  0.90688217],
       [-0.36047012,  0.00705592,  0.93274407],
       [-0.17461299, -0.34189213,  0.92337429],
       [-0.04767171,  0.08311572,  0.99539901],
       [-0.11978572,  0.27115942,  0.95505181],
       [-0.2945663 ,  0.02230101,  0.9553708 ],
       [-0.05242118,  0.37907628,  0.92387943],
       [-0.24657199, -0.29256175,  0.9239101 ],
       [ 0.05017215, -0.41511951,  0.90838238],
       [ 0.06515065, -0.05145824,  0.99654776],
       [ 0.01554278, -0.10583904,  0.9942618 ],
       [ 0.14902642, -0.40322199,  0.90288602],
       [-0.23100306, -0.22317751,  0.94701076],
       [ 0.23867153,  0.20470867,  0.94927881],
       [-0.31543361,  0.24978182,  0.91548385],
       [ 0.14864568, -0.37358758,  0.91560733],
       [ 0.15646119,  0.0698617 ,  0.98521025],
       [ 0.17515904, -0.27047175,  0.94665957],
       [ 0.10076486, -0.1367529 ,  0.98546694],
       [ 0.25954658,  0.19071939,  0.94671098],
       [ 0.15128957,  0.07569355,  0.98558711],
       [ 0.12900926,  0.25874114,  0.95729287],
       [-0.14879412,  0.07790933,  0.98579432],
       [ 0.09163446,  0.35442038,  0.93058547],
       [-0.04488949, -0.14251142,  0.98877471],
       [-0.39372565, -0.06632697,  0.91683196],
       [-0.25352759,  0.30719483,  0.91725411],
       [ 0.11099362,  0.29768539,  0.94818976],
       [ 0.15617437,  0.03280417,  0.98718461],
       [-0.22109801,  0.1254296 ,  0.96715205],
       [-0.233993  , -0.09888184,  0.9671968 ],
       [ 0.00188486,  0.39677819,  0.91791259],
       [ 0.02409954, -0.25239122,  0.96732512],
       [ 0.3014848 , -0.09280358,  0.94894384],
       [ 0.17384699,  0.26313881,  0.94896533],
       [ 0.35539128,  0.17599441,  0.91799946],
       [ 0.0252628 ,  0.25701693,  0.96607665],
       [-0.04268434, -0.28477824,  0.95764263]])

Now we have and array of tuples with precalulated data for each star in the catalog.  Magnitude is ignored.

In [47]:
numrows = rays.shape[0]

rays[0,:]  # get the row at position 0 of the rays collection
rays[0+1,:] # gets the next row of the rays collection  

rays[0,:] * rays[0+1:,:] # gets the next row of the rays collection  
(rays[0,:] * rays[0+1:,:]).sum(-1) # gets the next row of the rays collection  

rays[0+1:,:] # this is where I loose track?  
d = np.arccos((rays[0,:] * rays[0+1:,:]).sum(-1) )

flat = np.flatnonzero(d < threshold_k)
flat

array([ 0,  4,  6,  7, 21, 26, 28, 32])

In [29]:
i_, j_, d_ = [],[],[]
for i in range(0, numrows):
    d = np.arccos((rays[i,:] * rays[i+1:,:]).sum(-1) )
    for j in np.flatnonzero(d < threshold_k):
        i_.append(i)
        j_.append(i+1+j)
        d_.append(d[j])

pairs = pd.DataFrame({'i':np.array(i_), 'j':np.array(j_), 'd':np.array(d_)}).sort_values(by='d')

pairs

       i   j         d
1190  61  65  0.007804
578   40  77  0.021592
1126  58  64  0.025261
1075  56  60  0.032253
1198  61  73  0.037113
...   ..  ..       ...
210   31  41  0.779367
1083  56  68  0.779936
110   16  49  0.781039
989   52  80  0.782674
250   32  34  0.782877

[1417 rows x 3 columns]